@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.greetings{
    font-size: 2rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #00ff99, 0 0 50px #00ff99, 0 0 100px #00ff99;
    }
    10%, 90%{
        color: #696565;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}

.description{
    color: #00ffa6;
}


.button button {
    background-color: rgb(0, 255, 170); 
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out; 
  }
  
  
  .button button a {
    text-decoration: none; 
    color: inherit; 
  }
  
  
  .button button:hover {
    background-color: rgb(0, 255, 179);
    box-shadow: 0 0 10px rgb(255, 94, 0), 0 0 20px rgb(0, 255, 179), 0 0 30px rgb(0, 255, 187); 
  }
  
  .img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
  }




  